header h1 {
  background-color: rgba(54, 54, 54, 0.8);
  color: #fff;
  padding: 0 1rem;
  position: absolute;
  top: 2rem; 
  left: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

header button {
background-color:rgba(54, 54, 54, 0.8);
color: #fff;
padding: 0 1rem;
position: absolute;
top: 15rem;
right: 2rem;
font-size: 1.5rem;
font-weight: bold;
border: none;
cursor: pointer;
}

#map {
height: 40%;
}

html,
body {
height: 100%;
margin: 0;
padding: 0;
}